langchain
langchain_community
langchain_core
langchain_mistralai
langchain_tavily
tavily-python
beautifulsoup4
requests
lxml
python-dotenv
aiohttp
tiktoken
rich
tenacity
orjson
pydantic
html5lib
langchain_groq
trafilatura
streamlit
langchain_ollama